# dev
DBT_DEV_HOST=
DBT_DEV_PORT=1433
DBT_DEV_DATABASE=
DBT_DEV_SCHEMA=dbo
DBT_DEV_USER=
DBT_DEV_PASSWORD=

# prod
DBT_PROD_HOST=
DBT_PROD_PORT=1433
DBT_PROD_DATABASE=
DBT_PROD_SCHEMA=dbo
DBT_PROD_USER=
DBT_PROD_PASSWORD=
